    {{ partial "foot_start.html" . }}
    {{ partial "about.html" . }}
    {{ partial "search.html" . }}
    {{ partial "cover.html" . }}
    {{ partial "script.html" . }}
    {{ partial "foot_end.html" . }}
  </body>
<!--  <script type="text/javascript" async-->
  <!--src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">-->
  <!--MathJax.Hub.Config({-->
    <!--tex2jax: {-->
        <!--inlineMath: [['$','$'], ['\\(','\\)']],-->
        <!--processEscapes: true-->
      <!--}-->
  <!--});-->
  <!--MathJax.Hub.Queue(function() {-->
    <!--var i, text, code, codes = document.getElementsByTagName('code');-->
    <!--for (i = 0; i < codes.length;) {-->
      <!--code = codes[i];-->
      <!--if (code.parentNode.tagName !== 'PRE' &&-->
          <!--code.childElementCount === 0) {-->
        <!--text = code.textContent;-->
        <!--if (/^\\\((.|\s)+\\\)$/.test(text) ||-->
            <!--/^\$(.|\s)+\$$/.test(text) ||-->
            <!--/^\\begin\{([^}]+)\}(.|\s)+\\end\{[^}]+\}$/.test(text)) {-->
          <!--code.outerHTML = code.innerHTML;  // remove <code></code>-->
          <!--continue;-->
        <!--}-->
      <!--}-->
      <!--i++;-->
    <!--}-->
    <!--});-->
<!--</script>-->

</html>
